* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.profile p {
  font-size: 12px;
  font-weight: 700;
  color: #b3b3b3;
  margin-top: 6px;
  padding: 5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  color: white;
  background-image: url("https://cdn.pixabay.com/photo/2019/01/06/01/20/headphones-3916271_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
.sidebar-container {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.page-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  gap: 1rem;
  overflow: hidden;
}

.player-left-body {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
}

.player-right-body {
  grid-column: 3 / 9;
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.player-right-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.song-duration,
controls-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.widget-body {
  grid-column: 2 / 9;
  grid-row: 3 / -1;
}

.songCard-container {
  grid-column: 9 / -2;
  grid-row: 2 / 6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.songCard-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.queue-container {
  grid-column: 9 / -2;
  grid-row: 6 / -1;
  backdrop-filter: blur(50px) saturate(180%);
  -webkit-backdrop-filter: blur(50px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.075);
  border: 1px solid rgba(209, 213, 219, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
}

.song-duration {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.song-title {
  font-size: 32px;
  font-weight: 700;
  color: whitesmoke;
}

.song-artist {
  font-size: 18px;
  font-weight: 500;
  color: #b3b3b3;
}

/*Responsive design for tablets*/

@media (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 100vh;
    width: 100vw;
  }
  .sidebar-container {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    /* position: absolute;
    display: none; */
  }

  .page-container {
    display: flex;
    grid-column: 2 / -1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  .player-left-body {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
  }

  .player-right-body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    order: 2;
    margin: 20px 0;
  }

  .songCard-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
    flex-direction: row;
  }

  .song-title {
    text-align: center;
  }

  .songCard-container img {
    width: 80px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .queue-container {
    width: 100%;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 4;
    border-radius: 0px;
  }

  .widget-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order: 5;
  }

  .widgetcard-body {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    overflow: auto;
    margin-bottom: 20px;
    place-content: center;
  }
  .widgetcard-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logout-page {
    width: 100%;
    height: 100%;
  }
}
