.logout-page {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background: hsla(283, 21%, 13%, 1);

  background: linear-gradient(
    45deg,
    hsla(283, 21%, 13%, 1) 9%,
    hsla(284, 33%, 22%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(283, 21%, 13%, 1) 9%,
    hsla(284, 33%, 22%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(283, 21%, 13%, 1) 9%,
    hsla(284, 33%, 22%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#251B29", endColorstr="#42264C", GradientType=1 );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

img {
  width: 22%;
}
.logOut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.logOut-container .logOut-btn {
  display: block;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  background-color: #fefefe;
  border: none;
  border-radius: 50px;
  color: #1f1f1f;
  cursor: pointer;
  font-weight: 600;
}

.logOut-title {
  color: #fefefe;
  font-size: 4.5rem;
  margin-bottom: 20px;
}

.logo-out {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
