a {
  text-decoration: none;
  color: white;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  height: 80px;
  width: 100%;
  padding: 10px;
}

.btn-container.active {
  /*glossy effects*/
  background: linear-gradient(
    90deg,
    rgb(116, 104, 167) 0%,
    rgba(71, 5, 57, 0.849) 100%
  );
  transition: background 0.3s;
  cursor: pointer;
}

.btn-container .title {
  font-size: 12px;
  padding-left: 8px;
  font-weight: 700;
}
