a{
  text-decoration: none;
  color: white;
}

.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  height: 80px;
  width: 100%;
  padding: 10px;
}

.btn-container .title{
  font-size: 12px;
  padding-left: 8px;
}