.logIn-page {
  grid-template-columns: 1 / -1;
  grid-row: 1 / -1;
  background-color: #1f1f1f;
  background-image: url("https://cdn.pixabay.com/photo/2019/01/06/01/20/headphones-3916271_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

img {
  width: 22%;
}
.logIn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.logIn-container .logIn-btn {
  display: block;
  width: 200px;
  padding: 15px 0;
  text-align: center;
  background-color: #fefefe;
  border: none;
  border-radius: 50px;
  color: #1f1f1f;
  cursor: pointer;
  font-weight: 600;
}

a {
  color: #fefefe;
  text-decoration: none;
}

h1 {
  color: #fefefe;
  font-size: 4.5rem;
  margin-bottom: 20px;
}

h2 {
  color: #fefefe;
  font-size: 1rem;
  margin: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logout{
 
}
