.queue-container {
  width: 100%;
  height: 39%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(144, 19, 254, 0.07);
  border: 1px solid rgba(209, 213, 219, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.queue {
  width: 60%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.upNext {
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
  text-align: left;
}
